.find-password-form {
  margin: 2rem auto;
  width: 80%;
  min-width: 300px;
}

.find-password-form h2 {
  margin-bottom: 1em;
  text-align: center;
}

.find-password-form form {
  margin: 0 auto 1.5em;
  max-width: 600px;
}

.find-password-form article {
  display: flex;
  align-items: center;
  margin: 0.3em 0 1.2em;
  width: 100%;
}

.find-password-form article label {
  font-weight: 600;
  padding-right: 0.5em;
}

.find-password-form article input {
  flex-grow: 1;
}

small.email-message {
  display: block;
  font-weight: 600;
  margin-bottom: 1.2em;
}

article.button-wrapper {
  display: block;
}

.button-wrapper > .temp-password-alert {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  color: var(--red);
  padding: 0.5em;
}

.button-wrapper .temp-password-alert > i {
  font-size: 2em;
  padding-right: 0.5em;
}

.button-wrapper p {
  line-height: 1.5;
}

.button-wrapper button {
  display: block;
  width: 100%;
  background-color: var(--gray);
  font-weight: 600;
  padding: 0.5em 0;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 600px) {
  .find-password-form {
    width: 95%;
  }

  .find-password-form article {
    display: block;
  }

  .find-password-form label {
    display: inline-block;
    padding-bottom: 0.1em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid var(--gray);
  }

  .find-password-form input {
    width: 100%;
  }

  .button-wrapper p {
    font-size: 0.9em;
  }
}