/* NavBar */
.teacher--wrap {
  display : flex;
}

.teacher-navbar {
  padding-top:15%;
  background-color : var(--beige);
  width : 15%;
  height : 100vh;
}

.teacher-navbar-item {
  margin :16px;
}

.teacher-navbar-item a {
  border : 1px solid var(--black);
  width : 100%;
  height : 10%;
}

.teacher-content {
  width : 80%;
}
.active .btn {
  background-color : unset;
}
.nav-btn {
  width : 100%;
}

/* teacher-content */
.teacher-content {
  margin : 16px;
}

/* /home */
.exam--table {
  display:table;
  width : 100%;
  text-align:center;
  border : 1px solid var(--black)
}
.exam--row {
  display : table-row;
  height : 50px;
}

.exam--row div {
  display:table-cell;
  vertical-align: middle;
}
.exam--row>:nth-child(1){
  width : 5%;
}
.exam--row>:nth-child(2){
  width : 20%;
}
.exam--row>:nth-child(3){
  width : 10%;
}
.exam--row>:nth-child(4){
  width : 15%;
}
.exam--row>:nth-child(5){
  width : 15%;
}
.exam--row>:nth-child(6){
  width : 20%;
}
.exam--row>:nth-child(7){
  width : 15%;
}
.exam--cards {
  display:flex;
}

.exam--card {
  width : calc(100%/3);
  margin : 10px;
  border : 1px solid var(--black);
  border-radius: 10px;
}
/* '/exam' */
.password-wrap {
  display:none;
}

.email-list {

  width : 100%;
}
.email-checked {
  display:inline-block;
  margin:auto;
  width : 10%;
}
.student-email {
  display:inline-block;
  width : 90%;
}
/* /exam/questions */
.question {
  width : 100%;
}

.questions-box {
  width : 30%;
  min-height : 100px;
  border : 1px solid black;
  margin-bottom : 50px;
}

.questions-box button {
  width : 20%;
}
.selected-question {
  margin-bottom : 100px;
}
.question-wrap {
  width : 90%;
  display:inline-block;
  border : 1px solid var(--gray);
  padding : 15px;
  margin : 3px;
}

.question-list .question-wrap {
  display:none;
}

.question-form {
  display:flex;
  flex-direction:column;
}

.question-score-input {
  margin-left:auto;
}

.question-content-input textarea {
  width : 100%;
}

.question-description-input textarea {
  width : 100%;
  height : 100px;
}

.question-content {
  font-size :1.5rem;
}
.question-content i {
  float : right;
}
.question-commentary {
  margin-top : 10px;
}
.question-examples {
  border : 0.5px solid var(--light-gray);
  margin-top : 10px;
  padding : 10px;
}
.toggle-description{
  cursor: pointer;
  margin-top : 10px;
}
.question-description {
  padding : 5px;
  margin-top:10px;
}