#root header {
  background-color: #888;
  display: flex;
  justify-content: space-between;
}

.logout-modal i {
  font-size: 100px;
  display: block;
  text-align: center;
}

.logout-modal p {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.75rem 0;
}

.logout-modal .logout-button {
  display: block;
  margin: 0 auto;
  width: 250px;
}